@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header {
    flex-basis: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 300px;
    color: white;
}

.header-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: white;
}

.header-logo {
    font-weight: bold;
    font-size: large;
}