@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

img {
    max-width: 100%;
    max-height: auto;
}

.header,
.page-description {
    background-color: #1F2937;
}

.header,
.page-description,
.information {
    padding: 0 300px;
}

.header {
    flex-basis: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 20px;
}

.header-links {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

.header-links a {
    text-decoration: none;
    color: white;
}

.header-logo {
    font-weight: bold;
    font-size: large;
}

.page-description {
    display: flex;
    color: white;
    align-items: center;
    gap: 50px;
    flex-basis: 350px;
    flex-wrap: wrap;
}

.description-text,
.description-img {
    flex: 1;
}

.description-img {
    padding: 50px 0;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.sign-up-button {
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    font-size: medium;
    padding: 10px 30px;
    font-weight: bold;
    border: none;
}

.information {
    flex-basis: 350px;
    display: flex;
    flex-direction: column;
}

#information-title {
    color: #1F2937;
    font-size: 30px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

#information-images {
    display: flex;
    justify-content: space-between;
}

.information-content {
    padding: 30px;
}

.information-content img {
    border-radius: 8px;
    width: 100%;
    aspect-ratio: 1/1;
    border: solid 3px #3882F6;
}

.information-content p {
    text-align: center;
}